<p id="notice"><%= notice %></p>

<h1>Listing Menu Items</h1>
<div class='row'>
  <div class='large-8 columns'>
    <table>
      <thead>
	<tr>
	  <th>Name</th>
	  <th>Description</th>
	  <th>Price</th>
	  <th colspan="3"></th>
	</tr>
      </thead>

      <tbody>
	<% @menu_items.each do |menu_item| %>
	<tr>
          <td><%= menu_item.name %></td>
          <td><%= menu_item.description %></td>
          <td><%= menu_item.price %></td>
	  <td><button class="btn" onclick='addItemToOrder(<%= menu_item.id %>, "<%= escape_javascript(menu_item.name) %>", <%= menu_item.price %>);'>+</button></td>
	</tr>
	<% end %>
      </tbody>
    </table>
  </div>
  <div class='large-4 columns'>
    <div id='cart'>
      Your Order Here!
    </div>
  </div>
</div>
<script type='text/javascript'>
  window.onload = function() {
    setUserId(<%= current_user.try(:id) %>);
  };

  var element = $('#cart');
  var originalY = element.offset().top;
  
  $(window).on('scroll', function(event) {

    var scrollTop = $(window).scrollTop();
    var topMargin = 20;

    element.css('position', 'relative');
  
    element.stop(false, false).animate({
      top: scrollTop < originalY
		       ? 0
		       : scrollTop - originalY + topMargin }, 300);
  });
</script>

<br />
