<script type='text/javascript'>
  window.onload = function() {
    setUserId(<%= current_user.try(:id) %>);
  };
</script>
  
<p id="notice"><%= notice %></p>

<h1>Listing Menu Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menu_items.each do |menu_item| %>
      <tr>
        <td><%= menu_item.name %></td>
        <td><%= menu_item.description %></td>
        <td><%= menu_item.price %></td>
	<td><button onclick='addItemToOrder(<%= menu_item.id %>, <%= menu_item.price %>);'>+</button>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu item', new_menu_item_path %>
