<p id="notice"><%= notice %></p>

<h1>Listing Menu Items</h1>
<div class='row'>
  <div class='large-8 columns'>
    <table>
      <thead>
	<tr>
	  <th>Name</th>
	  <th>Description</th>
	  <th>Price</th>
	  <th colspan="3"></th>
	</tr>
      </thead>

      <tbody>
	<% @menu_items.each do |menu_item| %>
	<tr>
          <td><%= menu_item.name %></td>
          <td><%= menu_item.description %></td>
          <td><%= menu_item.price %></td>
	  <td><button class="btn" onclick='addItemToOrder(<%= menu_item.id %>, "<%= escape_javascript(menu_item.name) %>", <%= menu_item.price %>);'>+</button></td>
	</tr>
	<% end %>
      </tbody>
    </table>
  </div>
  <div class='large-4 columns'>
    <div id='cart-wrapper'>
      <div id='cart'>
	<table id='cart-table'>
	  <thead>
	    <tr><th>Item</th><th>Price</th><th></th></tr>
	  </thead>
	  <tbody></tbody>
	</table>
	<form id="delivery-form">
	  <input type="radio" id="carry-out" name="delivery" value='carry-out' checked>Carry Out</input>
	  <input type="radio" id="delivery" name="delivery" value='delivery'>Delivery</input>
	</form>
	<span class="subtotal">Subtotal: <span id='cart-subtotal'>$0</span></span>
	<br /><br />
	<button class="btn" onclick="submitOrder();">Place Order</button>
      </div>
    </div>
  </div>
</div>
<script type='text/javascript'>
  window.onload = function() {
    setUserId(<%= current_user.try(:id) %>);
  };

  var element = $('#cart');
  var originalY = element.offset().top;
  
  $(window).on('scroll', function(event) {

    var scrollTop = $(window).scrollTop();
    var topMargin = 20;

    if(scrollTop > originalY) {
      element.addClass('sticky');
    } else {
      element.removeClass('sticky');
    }
  });

 		       
</script>

<br />
