<p id="notice"><%= notice %></p>

<h1>Listing Menu Items</h1>
<div class='row'>
  <div class='large-8 columns'>
    <table>
      <thead>
	<tr>
	  <th>Name</th>
	  <th>Description</th>
	  <th>Price</th>
	  <th colspan="3"></th>
	</tr>
      </thead>

      <tbody>
	<% @menu_items.each do |menu_item| %>
	<tr>
          <td><%= menu_item.name %></td>
          <td><%= menu_item.description %></td>
          <td><%= menu_item.price %></td>
	  <td><button class="btn" onclick='addItemToOrder(<%= menu_item.id %>, "<%= escape_javascript(menu_item.name) %>", <%= menu_item.price %>);'>+</button></td>
	</tr>
	<% end %>
      </tbody>
    </table>
  </div>
  <div class='large-4 columns'>
    <div id='cart-wrapper'>
      <div id='cart'>
	<table id='cart-table'>
	  <thead>
	    <tr><th>Item</th><th>Price</th><th></th></tr>
	  </thead>
	  <tbody></tbody>
	</table>
	<form id="delivery-form">
	  <input type="radio" id="carry-out" name="delivery" value='carry-out' checked>Carry Out</input>
	  <input type="radio" id="delivery" name="delivery" value='delivery'>Delivery</input>
	</form>
	<span class="subtotal">Subtotal: <span id='cart-subtotal'>$0</span></span>
	<br /><br />
	<button class="btn" onclick="finalizeOrder();">Finalize Order</button>
      </div>
    </div>    
  </div>  
</div>

<div id="delivery-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content large-12 columns">
    <span id="modal-close">&times;</span>
    <p>Almost there!</p>
    <div id="address" class="large-8 columns">
      <form id="address-form">
	<div class="input-wrapper">
	  <input id="address-name" name="name" type="text" required>
	  <label for="address-name">Name</label>
	</div>
	<div id="full-address">
	  <div class="input-wrapper">
	    <input id="address-line-1" name="line_1" type="text" required>
	    	    <label for="address-line-1">Line 1</label>
	  </div>
	  <div class="input-wrapper">
	    <input id="address-line-2" name="line_2" type="text" required>
	    <label for="address-line-2">Line 2</label>
	  </div>
	  <div class="input-wrapper">
	    <input id="address-city" name="city" type="text" required>
	    <label for="address-city">City</label>
	  </div>
	  <div class="input-wrapper">
	    <input id="address-state" name="state" type="text" required>
	    <label for="address-state">State</label>
	  </div>
	  <div class="input-wrapper">
	    <input id="address-zip" name="zip" type="text" required>
	    <label for="address-zip">Zipcode</label>
	  </div>
	</div>
      </form>
    </div>
    <div class="large-4 columns">
      <h3>Your Order</h3>
      <table id="final-order">
	<thead>
	  <tr><th>Menu Item</th><th>Price</th></tr>
	</thead>
	<tbody></tbody>
      </table>
      <br />
      <strong>Subtotal: </strong><span id="final-subtotal"></span>
    </div>
    <div id="final-submit" class="large-4 columns">
      <button class="btn" onclick="submitOrder();">Place Order</button>
      <% if current_user %>
        <input type="checkbox" id="save-address" /> Save address for later?
      <% end %>
    </div>
  </div>
</div>

<script type='text/javascript'>
  var userAddresses;
  window.onload = function() {
    setUserId(<%= current_user.try(:id) %>);
  <% if current_user %>
    userAddresses = JSON.parse('<%= current_user.addresses ? current_user.addresses.to_json.html_safe : [] %>');
    <% end %>
  };

  var element = $('#cart');
  var originalY = element.offset().top;
  
  $(window).on('scroll', function(event) {

    var scrollTop = $(window).scrollTop();
    var topMargin = 20;

    if(scrollTop > originalY) {
      element.addClass('sticky');
    } else {
      element.removeClass('sticky');
    }
    setCartHeight();
  });

  $(window).on('resize', function(event) {
    setCartHeight();
  });

  $("#modal-close").click(function() {
    closeModal();
  });

</script>

<br />
