<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>

<table>
  <thead>
    <tr>
      <th>Delivery</th>
      <th>Status</th>
      <th>Customer</th>
      <th>Order Items</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.delivery %></td>
        <td><%= order.status %></td>
        <td> <%= order.user ? order.user.first_name + ' ' + order.user.last_name : 'Guest' %></td>
	<td>
	  <ul>
	    <% order.order_items.each do |item| %>
	      <li><%= item.menu_item.name %></li>
	    <% end %>
	  </ul>
	</td>
        <td><%= link_to 'Show', order %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
