<p id="notice"><%= notice %></p>

<p>
  <strong>Delivery:</strong>
  <%= @order.delivery %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user ? @order.user.first_name + ' ' + @order.user.last_name : 'Guest' %>
</p>
<% if @order.address.present? %>
  <p>
    <strong>Name and Address:</strong><br />
    <%= @order.address['name'] %><br />
    <% if @order.delivery? %>
      <% %w(line_1 line_2 city state zip).each do |key| %>
        <% if @order.address[key].present? %>
          <%= @order.address[key] %><br />
        <% end %>
      <% end %>
    <% end %>
  </p>
<% end %>
<p>
  <strong>Order Items</strong>
  <table>
    <tr>
      <th>Menu Item</th>
      <th>Price</th>
    </tr>
    <% @order.order_items.each do |item|%>
    <tr>
      <td><%= item.menu_item.name %></td>
      <td><%= sprintf('%.2f', item.menu_item.price.to_s) %></td>
    </tr>
    <% end %>
  </table>
  <span>Subtotal: $<%= sprintf('%.2f', @order.subtotal) %></span>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
