<div class="large-8 columns">
    Pizza Shop is a web application for a fictional pizza shop, which was inspired by a conversation with a local business owner and his frustration with the service he currently uses. This application allows a user to place an order with the fictional brick-and-mortar establishment. Orders and their status can be viewed by the user, and administrators can see and update the status of ALL orders. This application is intended to be a demonstration of my familiarity with Rails and application development.
</div>

<div class="large-4 columns">
  <h4>Find us on Social Media</h4>

  <%= image_tag 'social_media_icons/facebook.png', class: 'sm-icon'%>
  <%= image_tag 'social_media_icons/twitter.png', class: 'sm-icon'%>
  <%= image_tag 'social_media_icons/instagram.png', class: 'sm-icon'%>
  <%= image_tag 'social_media_icons/youtube.png', class: 'sm-icon'%>
  <%= image_tag 'social_media_icons/google_plus.png', class: 'sm-icon'%>
  <%= image_tag 'social_media_icons/pinterest.png', class: 'sm-icon'%>

</div>
